<ion-view class="welcome-view" cache-view="false">
  <ion-content scroll="false">
    <div class="top-content row">
      <div class="app-copy col col-top">
        <div class="logo"style="width:100%">
        <img src="img/logo.png" style="width:60%">
        </div>
        <!-- <p class="app-tagline">
          Acesse a melhor rede de noivas do país.
        </p> -->
      </div>
    </div>
    <div class="bottom-content row">
      <div class="col col-bottom">
        <div class="row split-actions">
          <div class="col">
            <a class="sign-in-button button button-block" ng-click="showLogIn('noivas')">
              Noivas
            </a>
          </div>
          <div class="col">
            <a class="sign-in-button button button-block" ng-click="showLogIn('fornecedores')">
              Fornecedores
            </a>
          </div>
        </div>
        <div class="row other-actions">
          <div class="col">
            <a class="button button-block button-clear" ng-click="showFAQ()">
              Como participar?
            </a>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
